<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="overflow: auto">
<head>
    <meta charset="UTF-8">
    <title>Конвертер</title>
</head>
<body>
    <h1>Конвертер</h1>
    <div>
        <form method="POST" enctype="multipart/form-data" action="/">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </div>
</body>
</html>